@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap');

* {
  font-family: 'Martel', serif;
  text-align: center;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./images/joshua-hoehne-YPgTovTiUv4-unsplash.jpg');
}

.wave {
  bottom: 0;
  position: fixed;
  left: 0;
  height: 490px;
}

.title {
  font-size: 40px;
}

.search {
  height: 51px;
  font-size: large;
}

.btn-search {
  height: 56px;
}
